.passwordpage {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .passwordpage button {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .passwordpage button:hover {
    background-color: #ccc;
  }
  
  .passwordpage button:focus {
    outline: none;
    box-shadow: 0 0 5px #fff;
  }
  